<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>Web Deploy</PublishProvider>
    <MSDeployServiceURL>site57471.siteasp.net</MSDeployServiceURL>
    <DeployIisAppPath>site57471</DeployIisAppPath>
    <PublishUrl>site57471.siteasp.net</PublishUrl>
    <UserName>site57471</UserName>
    <_SavePWD>False</_SavePWD>
    <DestinationAppUrl>http://glostrainer.runasp.net/</DestinationAppUrl>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
  </PropertyGroup>
</Project>
